<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= debug(params) if Rails.env.development? %>
  <% flash.each do |message_type, message| %>
    <%= message_type %>
    <%= message %>
  <% end %>
  <%= yield %>
</body>
</html>
